//
//  Secrets.xcconfig
//  TV Show Tracker
//
//  Created by Najeeb VenD on 24/09/2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


APPLICATION_ID = UvBvjdPeATFfYW9PeMjuoyX0ZGkD9XVY6NJAwshV
CLIENT_KEY = rxbpcYTOYya1NXcMbyaXNdLOCNs2VwY86OZ6w9ZE
